@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --button-accent: #956cf3;
  --box-shadow: 0 0.3rem rgba(121, 121, 121, 0.45);
  --box-shadow-active: 0 0.1rem rgba(255, 255, 255, 0.65);
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  width: auto;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: rgb(43, 29, 61);
  background: #fff;
  /* background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  ); */
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-blurb {
  background-color: #f1c327;
  width: 100%;
  padding: 130px;
}

img {
  transition: all 200ms ease-in-out;
}

img:hover {
  opacity: 0.5;
}

#hi {
  color: rgb(216, 115, 225);
}

#greeting {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

#name {
  color: rgb(64, 44, 88);
}

#i-am {
  color: rgb(64, 44, 88);
}

#name,
#about-title {
  font-weight: bold;
  font-size: 4.5rem;
}

#gh {
  margin-top: 25px;
  text-decoration: none;
  color: #956cf3;
}

#gh:hover {
  text-decoration: underline;
}

#about-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(64, 44, 88);
}

#button-container,
#about-container {
  display: flex;
  justify-content: space-between;
}

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about {
  border: 1px solid var(--button-accent);
  box-shadow: var(--box-shadow);
  background-color: white;
  color: var(--button-accent);
  transition: all 200ms ease-in-out;
}

#about:hover {
  background: var(--button-accent);
  color: white;
}

#about:active {
  transform: translate(0, 0.3rem);
  box-shadow: var(--box-shadow-active);
}

#contact {
  box-shadow: var(--box-shadow);
  background-color: var(--button-accent);
  color: white;
  transition: all 200ms ease-in-out;
}

#contact:hover {
  background: white;
  color: var(--button-accent);
  border: 1px solid var(--button-accent);
}

#contact:active {
  transform: translate(0, 0.3rem);
  box-shadow: var(--box-shadow-active);
}

#contact-me {
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: rgb(216, 115, 225);
}

#footer {
  margin-bottom: 20px;
}

#go-home {
  margin-top: 25px;
  text-decoration: none;
  color: #956cf3;
}

#go-home:hover {
  text-decoration: underline;
}

#my-email {
  color: #956cf3;
  font-size: 1.25rem;
  text-decoration: none;
}

#my-email:hover {
  text-decoration: underline;
}

.about-section-1 {
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #dacdf2;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 10px;
}

.about-section-2 {
  background: #dacdf2;
  padding: 20px 40px;
  margin: 10px;
  border-radius: 10px;
}

.hero-section {
  margin: 140px auto 150px auto;
}

.img-fluid {
  display: block;
  margin: 0 auto;
}

.navbar-custom {
  background-color: #fff;
}

.project-img {
  /* height: 290px;
  width: 335px; */
  height: auto;
  width: auto;
}

.project-img img {
  height: 100%;
  width: 100%;
}

.tagline {
  font-weight: bold;
  font-size: 1.5rem;
  color: #685e7c;
}

button {
  margin: 20px 15px;
  padding: 20px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
